<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Account Credentials</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f6f6f6;
      margin: 0;
      padding: 0;
    }

    .container {
      width: 100%;
      max-width: 600px;
      margin: 40px auto;
      background-color: #ffffff;
      padding: 30px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    }

    h1 {
      color: #333;
    }

    p {
      font-size: 16px;
      color: #555;
    }

    .password-box {
      margin: 20px 0;
      padding: 15px;
      background-color: #f0f4f8;
      border-left: 4px solid #007BFF;
      font-size: 18px;
      font-weight: bold;
      color: #333;
    }

    .footer {
      font-size: 12px;
      color: #aaa;
      text-align: center;
      margin-top: 30px;
    }
  </style>
</head>

<body>
  <div class="container">
    <h1>Here is your Credential</h1>
    <p>Hello {{name}},</p>
    <p>You recently enrolled at {{ business }}. Please use the following credentials to log in:</p>
    <div class="password-box">
      EMAIL: {{ email }}
    </div>
    <div class="password-box">
      PASSWORD: {{ password}}
    </div>

    <p>Make sure to update your password after logging in to ensure your account’s security.</p>
    {{!-- <p>If you did not request this, please contact our support team immediately.</p> --}}

    <p>Thank you,<br>{{ business }}</p>

    <div class="footer">
      &copy; 2025 {{ business }}. All rights reserved.
    </div>
  </div>
</body>

</html>